name: SSH Debug Session

on:
  workflow_dispatch:  # start manually

jobs:
  debug:
    runs-on: ubuntu-latest

    steps:
      - name: Start tmate session
        uses: mxschmitt/action-tmate@v3
        # with:
        #   limit-access-to-actor: true   # only your GitHub account can open it

      - name: Keep alive
        run: sleep 999999
